# Copy this file to .env and fill in your values

EXPO_PUBLIC_API_URL=https://dummy-api-topaz.vercel.app
EXPO_PUBLIC_SENTRY_DSN=   # optional — when set, run "expo prebuild" to enable native Sentry integration
EXPO_PUBLIC_SENTRY_DEV=false  # set to true to enable Sentry in development builds
SENTRY_DISABLE_AUTO_UPLOAD=true # depends on your Sentry configuration
